
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <h2>Hello @ViewBag.Student</h2>
    <h3>Number: @ViewBag.NumberExample</h3>
    @*<a href="/Home/RSVPForm" asp-name="Name">Click here to register</a>*@
    @Html.ActionLink("Click here to register","RSVPForm")
</body>

</html>

